@import 'themes/reset';
@import 'themes/themes';

.App {
  @include spread-map($defaultTheme);
}

.App {
  .buttonPrimary {
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    font-weight: $fwBold;
    text-transform: capitalize;
    border-radius: 8px;

    height: 40px;
    padding: 8px 16px;
    color: theme-var($grey900);
    background-color: theme-var($pear500);

    &:hover {
      color: theme-var($grey700);
      background-color: theme-var($pear300);
    }

    &:active {
      color: theme-var($white);
      background-color: theme-var($pear700);
    }

    &:disabled {
      background-color: theme-var($grey400);
      color: theme-var($grey600);
    }

    &:focus {
      outline-style: solid;
      outline-color: theme-var($sky500);
      border: 2px solid theme-var($white);
    }
  }
}